 
 .container .input-box{
    width: calc(100% - 40px); 
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    color: #fff;
    
    
  }

 